<html>
    <head>
        <title>Home Page</title>
    </head>
    <title>LogIn</title>
    <h2></h2>
</head>
<body align="center">
    <form action="#" method="POST">
        {% csrf_token %}
        Enter your Email:<input type="text" name="Email" placeholder="Email"><br>
        conform Email:<input type="Password" name="Password" placeholder="Password"><br>
        <input type="submit">

        <h3>To change Password</h3>
        Current Password:
        <input type="text" name="current-password" placeholder="password"><br>
        New password:
        <input type="text" name="New-password" placeholder="password"><br>
        <input type="submit">
    </form>
</body>
</html>


        

        