{% extends 'index.html' %} {% block link %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link
  href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %} {% block content %}

<div class="border">
  <table align="center">
      <tr>
        <th>Role</th>
        <th>Company Name</th>
        <th>Location</th>
        <th>Skills</th>
        <th>Experience</th>
        <th>Salary</th>
        <th>If, Intrested</th>
        <th>More</th>
      </tr>
      {% for i in myjobs %}
      <tr>
        <td>{{ i.Role }}</td>
        <td>{{ i.Company_name }}</td>
        <td>{{ i.Location }}</td>
        <td>{{ i.Skills }}</td>
        <td>{{ i.Experience }}</td>
        <td>{{ i.Salary }}</td>
        {% if i.id in applied %}
        <td>
          <a href="#">Already Applied</a>
          {% comment %} {% url 'apply_now' jobtype='job' id=i.id %} {% endcomment %}
        </td>
        <td><a href="{% url 'jobview' id=i.id %}">Details</a></td>
        {% else %}
        <td>
          <a href="{% url 'apply_now' jobtype='job' id=i.id %}">Apply Now</a>
        </td>
        <td><a href="{% url 'jobview' id=i.id %}">Details</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
