{% extends 'index.html' %} {% block content %}
  <div class="register">
    <form method="POST">
      <h2>Register</h2>
      <br />
      {% csrf_token %}
      <div class="mb-4">
        <label for="exampleFormControlInput1" class="form-label">User Name:</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="exampleFormControlInput1"
          placeholder="UserName"/>
      </div>
      <div class="mb-4">
        <label for="exampleFormControlInput1" class="form-label">FirstName:</label>
        <input
          type="text"
          class="form-control"
          name="first_name"
          id="exampleFormControlInput1"
          placeholder="e.g.karthik"/>
      </div>
      <div class="mb-4">
        <label for="exampleFormControlInput1" class="form-label">Last Name:</label>
        <input
          type="text"
          class="form-control"
          name="last_name"
          id="exampleFormControlInput1"
          placeholder="e.g. ks"/>
      </div>
      <div class="mb-4">
        <label for="exampleFormControlInput2" class="form-label">Phone Number:</label>
        <input
          type="number"
          class="form-control"
          name="phone"
          id="exampleFormControlInput1"
          placeholder="e.g.phone"/>
      </div>
      <div class="mb-4">
        <label for="exampleFormControlInput2" class="form-label">Email:</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="exampleFormControlInput1"
          placeholder="Email"/>
      </div>
      <div class="mb-4">
        <label for="exampleFormControlInput2" class="form-label">Password:</label>
        <input
          type="password"
          class="form-control"
          name="Password1"
          id="exampleFormControlInput1"
          placeholder="Password"/>
      </div>
      <div class="mb-4">
        <label for="exampleFormControlInput2" class="form-label">Confirm Password:</label>
        <input
          type="password"
          class="form-control"
          name="Password2"
          id="exampleFormControlInput1"
          placeholder="ConfirmPassword"
        />
      </div>
      <input type="submit" value="submit" />
    </form>
  </div>
  <br>
{% endblock %}
