{% extends 'index.html' %} {% block content %}
<div class="changepassword">
  <h2>Change password</h2>
  <br />
  <form method="POST" class="internshala-form">
    {% csrf_token %}
    <div class="mb-1">
      <label for="exampleFormControlInput1" class="form-label">UserName:</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="exampleFormControlInput1"
        placeholder="Usesrname"
      /><br />
    </div>
    <div class="mb-2">
      <label for="exampleFormControlInput2" class="form-label"
        >New Password:</label
      >
      <input
        type="password"
        class="form-control"
        name="newpassword"
        id="exampleFormControlInput2"
        placeholder="Newpassword"
      /><br />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput3" class="form-label"
        >New Password:</label
      >
      <input
        type="password"
        class="form-control"
        name="retypepassword"
        id="exampleFormControlInput3"
        placeholder="Confirm password"
      /><br />
    </div>
    <input
      type="submit"
      value="Update"
      onclick="alert('Successfully Updated')"
    />
  </form>
</div>
<br /><br />
{% endblock%}
